# Thư mục node_modules
node_modules/

# File môi trường
.env

# File log
logs/
*.log

# Thư mục build / dist (nếu có)
dist/
build/

# Các file debug npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
